{% extends 'base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} Новая рассылка{% endblock %}
{% load widget_tweaks %}
{% block content %}

<div class="content-header ">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-3  border-bottom">
        <div class="d-flex align-items-center">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
            <h4 class="content-menu-h">Новая рассылка</h4>
        </div>
    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'newsletter:create' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label  class="form-label" for="">Название рассылки</label>
                    {{form.title|add_class:"form-control"}}
                    <div id="emailHelp" class="form-text">
                        Оно будет отображаться в списке рассылок и его будете видеть только вы.
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="СОЗДАТЬ">

                <input type="hidden" value="False" name="active_last_month">
                <input type="hidden" value="False" name="active_last_week">
                <input type="hidden" value="False" name="active_last_day">

                <a class="btn btn-bd-light" style="height: 38px;font-size: 15px;width: 150px;" href="{% url 'newsletter:draft_list' %}">ОТМЕНА</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}