{% extends 'base.html' %}
{% load static %}
{% load organization_tags %}
{% block title %}Точки{% endblock %}

{% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
  integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<div class="content-header ">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-3  border-bottom">
      <div class="mb-3 d-flex align-items-center">
          <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
          <h4 class="content-menu-h">Отзывы</h4>
      </div>
      <form method="get" class="btn-group btn-order-group me-2" action="{% url 'organization:feedback_list' %}">
          <select name="branch_search" id="branch" class="branch-search-select mr-8">
            <option value="" disabled selected hidden></option>
            <option value="all" {% if branch_search == 'all' %}selected{% endif %}>Все филиалы</option>
            {% for branch in branches_selectize %}
            <option value="{{ branch.id }}" {% if branch_search == branch.id %}selected{% endif %}>{{ branch.title }}</option>
            {% endfor %}
          </select>
          <select name="date_range" id="date-range-select" class="form-control mr-8">
            <option selected>Выберите период:</option>
            <option value="all-time" {% if date_range == 'all-time' %}selected{% endif %}>За все время</option>
                <option value="week" {% if date_range == 'week' %}selected{% endif %}>За неделю</option>
                <option value="month" {% if date_range == 'month' %}selected{% endif %}>За месяц</option>
                <option value="quarter" {% if date_range == 'quarter' %}selected{% endif %}>За квартал</option>
                <option value="half-year" {% if date_range == 'half-year' %}selected{% endif %}>За полгода</option>
                <option value="year" {% if date_range == 'year' %}selected{% endif %}>За 1 год</option>
          </select>
          <input type="submit" class="btn btn-bd-light" value="ПОИСК">
      </form>
  </div>
</div><!-- content-header -->

<div class="content-body">
  <div class="card flex-fill">
    <div class="card-header">
      <h5 class="card-title mb-0">Список филиалы</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Жалобы</th>
          </tr>
        </thead>
        <tbody>
        {% for branch in branches %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{branch.title}}</td>
            <td>{{branch.address}}</td>
            <td>{{branch.average_rating}}</td>
            <td class="feedback-display-right" data-id="{{branch.id}}" data-url="{% url 'organization:branch_detail' %}">{{branch.num_ratings_with_comment}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="feedback-content-right">

</div>



{% endblock %}

{% block domready %}
$(document).on('click', '.feedback-display-right', function(){
            var branch_id = $(this).data('id')
            var url = $(this).data('url')
            var date_range = $('#date-range-select').val()
            $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                    'branch_id': branch_id,
                    'date_range': date_range
                    },
                    success: function(data) {
                        $('#feedback-content-right').html(data)
                    }
                })
        });

$('.branch-search-select').selectize({
placeholder: 'Выберите опцию...'});
{% endblock %}






