{% extends 'base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} ЗАВЕРШЁННЫЕ {% endblock %}

{% block content %}

<div class="content-header ">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-3  border-bottom">
        <div class="d-flex align-items-center">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
            <h4 class="content-menu-h">Мои рассылки</h4>
        </div>
        <div class="btn-group btn-order-group me-2">
            <a href="{% url 'newsletter:create' %}" class="btn btn-bd-light" style="float:right">Новая рассылка</a>
        </div>
    </div>
</div><!-- content-header -->

<div class="content-body">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'newsletter:draft_list' %}">Черновики</a></li>
            <li class="breadcrumb-item"><a href="{% url 'newsletter:under_review_list' %}">На проверке</a></li>
            <li class="breadcrumb-item"><a href="{% url 'newsletter:ready_to_start_list' %}">Готовы к запуску</a></li>
            <li class="breadcrumb-item"><a href="{% url 'newsletter:in_progress_list' %}">Выполняются</a></li>
            <li class="breadcrumb-item active">Завершённые</li>
        </ol>
    </nav>

    <div class="row mt-3">

        {% for newsletter in newsletters %}
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="mailing-list">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>{{newsletter.title}}</h4>
                                <div class="dropdown">
                                  <i data-feather="more-vertical" class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="{% url 'newsletter:newsletter_update' newsletter.id %}"><i data-feather="edit"></i>Редактировать</a></li>
                                    <li><a class="dropdown-item" href="{% url 'newsletter:newsletter_delete' newsletter.id %}"><i data-feather="slash"></i>Удалить</a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        {% if newsletter.branches.all %}
                        <p class="mb-1">Рассылка на {% get_customers_count newsletter.id %} телефонный номер</p>
                        <div style="background-color: #dcf8c6; padding:10px;border-radius:5px;">
                            {{newsletter.text}}
                        </div>
                        <b>Рассылка выполнена</b>
                        <div class="mailing-list-btn-gruop mt-1">
                            <a href="{% url 'newsletter:detail_summary' newsletter.id %}">ОТКРЫТЬ</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block domready %}
{% endblock %}






