{% extends 'base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} Готовы к запуску{% endblock %}

{% block content %}

<div class="content-header ">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-3  border-bottom">
        <div class="d-flex align-items-center">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
            <h4 class="content-menu-h">Мои рассылки</h4>
        </div>
        <div class="btn-group btn-order-group me-2">
            <a href="{% url 'newsletter:create' %}" class="btn btn-bd-light" style="float:right">Новая рассылка</a>
        </div>
    </div>
</div><!-- content-header -->


<div class="content-body">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'newsletter:draft_list' %}">Черновики</a></li>
            <li class="breadcrumb-item"><a href="{% url 'newsletter:under_review_list' %}">На проверке</a></li>
            <li class="breadcrumb-item active">Готовы к запуску</li>
            <li class="breadcrumb-item"><a href="{% url 'newsletter:in_progress_list' %}">Выполняются</a></li>
            <li class="breadcrumb-item"><a href="{% url 'newsletter:completed_list' %}">Завершённые</a></li>
        </ol>
    </nav>

    <div class="row mt-3">
        {% for newsletter in newsletters %}

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mailing-list">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>{{newsletter.title}}</h4>
                                <i data-feather="more-vertical"></i>
                            </div>
                        </div>

                        {% if newsletter.branches.all %}
                            <p class="mb-1">{% get_count_customers_number newsletter.id %} номера добавлены</p>
                        {% else %}
                            <p class="mb-1">Номера получателей не добавлены</p>
                            <div style="background-color: #dcf8c6; padding:10px;border-radius:5px;">
                                {{newsletter.text}}
                            </div>
                            <b>Загрузите для рассылки базу контактов</b>

                            <div class="mailing-list-btn-gruop mt-1">
                                <a href="{% url 'newsletter:detail_summary' newsletter.id %}">ОТКРЫТЬ</a>
                                <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">ЗАГРУЗИТЬ БАЗУ</a>
                                <a href="{% url 'newsletter:under_review_cancel_confirm' newsletter.id %}">ОТМЕНИТЬ</a>
                            </div>
                        {% endif %}
                        <div style="background-color: #dcf8c6; padding:10px;border-radius:5px;">
                            {{newsletter.text}}
                        </div>
                        <b>Рассылка готова к запуску</b>
                        <div class="mailing-list-btn-gruop mt-1">
                            <a href="{% url 'newsletter:detail_summary' newsletter.id %}">ОТКРЫТЬ</a>
                            <a href="{% url 'newsletter:under_review_cancel_confirm' newsletter.id %}">ОТМЕНИТЬ ПРОВЕРКУ</a>
                            <button type="button" id="start-newsletter-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
                                ЗАПУСТИТЬ
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

{% block domready %}

{% endblock %}






