.form-control {
    appearance:auto;
    border-radius:0px;
}
.btn{
    border-radius:0px !important;
}
.card-header-white {
    background: #fff;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    ;
    align-items: center;
}
.btn-light-primary{
    background-color: #eef6ff;
    color: #14274E;
    margin-right: 8px;
}
.btn-light-primary svg{
    width: 17px;
    height: 17px;
}
.tolbar-btn-gruop{
    display: flex;
}
.content-menu-h{
    color: #14274E;
    margin-bottom: 0;
}

.waiting-status-color{
    background-color: #1bc068;
}

.sent-status-color{
    background-color: darkgrey;
}

.d-none{
    display:none;
}

.form-adaptive{
    display: flex;
    gap: 10px;
}
.scrollable-tbody{
    
}
.btn-bd-light {
    color: #333;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.btn-order-group select,input{
    width:200px;
    border-radius:0;
}
.breadcrumb-item a {
    color: #007c89;
    text-transform:uppercase;
}
.breadcrumb-item.active {
    color: #161616;
    text-transform: uppercase;
}
.mailing-list p {
    color: #878787;
}
.mailing-list-btn-gruop a {
    color: #1ebea5;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
}
.item-status{
    background: grey;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
}
.list-inline-item a{
    color: #007c89;
    text-transform: uppercase;
}
.message-fille{
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 9px;
    margin-bottom: 12px;
}
.message-text{
    border: 1px solid #ddd;
    background: #dcf8c6;
    padding: 6px;
    height: 254px;
}
.blue{
   background-color: #0075ff !important;
}
.message-list{
    width: 300px;
}
.message-list:after {
    width: 0;
    height: 0;
    content: "";
    top: 2px;
    left: 118px;
    position: relative;
    border-style: solid;
    border-width: 14px 13px 0 0;
    border-color: #dcf8c6 transparent transparent transparent;
}
/* Медиа-запрос для более узких экранов */
@media (max-width: 768px) {
    .card-title {
        font-size: 16px; /* Пример изменения размера шрифта на узких экранах */
    }

    .btn-light-primary{
        background-color: #eef6ff;
        color: #14274E;
        margin-right: 4px;
        font-size: 14px;
    }
    .btn-light-primary svg{
        width: 15px;
        height: 15px;
    }
    .card-header-white{
        flex-direction: column;
        align-items: stretch;
    }
    .d-md-block{
        display: none !important;
    }
    .w-100-sm{
        width: 100%;
    }  
    .content-menu-h{
        font-size: 17px;
    }
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        margin-bottom: 0;
        background-color: transparent;
    }

    .table thead th {
        border: none;
    }

    .table tbody td {
        display: block;
        text-align: right; /* Измените на "left" если нужно выровнять текст по левому краю */
        border-top: none;
    }

    .table tbody tr {
        margin-bottom: 1rem;
    }

    .table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 6rem;
    }
    .form-adaptive {
        flex-direction: column;
        gap: 10px;
    }
}