{% extends 'base.html' %}
{% load static %}
{% load organization_tags %}
{% block title %}Акция{% endblock %}

{% block content %}
<style type="text/css">
    input{
        width: auto;
    }
</style>
<div class="content-header ">
    <div class="header border-bottom">
        <div class="d-flex align-items-center mb-2">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>
            <h2 class="header-title mb-0">Акция</h2>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'raffle_prizes:raffle_prize_list' %}">Акция</a></li>
<!--                <li class="breadcrumb-item"><a href="/dashboard-default">Настройка</a></li>-->
                <li class="breadcrumb-item active" aria-current="page">Настройка {{raffle_prize.title}}</li>
            </ol>
        </nav>
    </div>
</div>

<div class="content-body">
    <div class="card mt-1">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h6 style="margin-bottom:0px;" class="text-uppercase">Участвующие филиалы</h6><br><br>
                <div class="mailing-list-btn-gruop mt-1">
                    <a href="#" class="company-branch-list-form" data-bs-toggle="modal" data-bs-target="#exampleModal" data-url="{% url 'raffle_prizes:participating_branch_list' raffle_prize.id %}">
                        изменить
                    </a>
                </div>
            </div>

            <div class="mb-2">
                {% if raffle_prize.participatingbranch_set.all %}
                    {% for participating_branch in raffle_prize.participatingbranch_set.all %}
                        <span class="badge bg-warning text-dark" style="color:#4CAF50;font-size: 15px">{{participating_branch.branch.title}}</span> <b>/</b>
                    {% endfor %}
                {% else %}
                    <div style="color:red;font-size: 15px"> Участники розыгрыша не добавлена</div>
                {% endif %}
            </div>
        </div>
    </div>

</div><br>
<div class="content-body">
    <div class="card mt-1">
        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">
                <h6 style="margin-bottom:0px;" class="text-uppercase">Настройка розыгрыша</h6><br><br>
                <div class="mailing-list-btn-gruop mt-1">
                     <a href="{% url 'raffle_prizes:settings_form' pk=raffle_prize.id %}"  >Pедактировать</a>
                </div>
            </div>

            <div class="raffle">
                <p class="mb-2"><b class="mr-8">Количество победителей:</b>{{raffle_prize.number_winners}}</p>
                <p class="mb-2"><b class="mr-8">Дата начало:</b><input type="date" value="{% get_formatted_date raffle_prize.date_start %}" disabled>   &nbsp&nbsp<b class="mr-8">Дата конец:</b> <input type="date" value="{% get_formatted_date raffle_prize.date_end  %}" disabled></p>
                <p class="mb-2"><b class="mr-8">Фото победителей:</b>
                    {% if raffle_prize.image %}
                    <a href="{{raffle_prize.image.url}}" >{% get_raffle_prize_image_name raffle_prize.image.url %}</a>
                    {% else %}
                     не выбрано
                    {% endif %}
                </p>
                <p class="mb-2"><b>Сообщение победителю:</b><br>
                    <textarea name="" id="" cols="30" rows="10" disabled>{{raffle_prize.message_winner}}</textarea>

                <p class="mb-2"><b>Коментарий:</b><br>
                <textarea name="" id="" cols="30" rows="10" disabled>{{raffle_prize.comment}}</textarea> </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block domready %}
$(document).on('click', '.company-branch-list-form', function(){
    var url = $(this).data('url')
    $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                $('#modal-content').html(data)
            }
        })
});

$(document).on('input', '#branch-search-input', function(){
    const searchValue = $(this).val().toLowerCase();
    const branches = $('.branch-item');

    branches.each(function () {
        const branchTitle = $(this).data('title');

        if (branchTitle.indexOf(searchValue) > -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
});
{% endblock %}


