{% load widget_tweaks %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'organization:employee_create' %}" method="post">
  {% csrf_token %}
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Добавить работника</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
  </button>
</div>
<div class="modal-body">
    <div class="mb-1">
        <label for="recipient-name" class="col-form-label">Имя:</label>
        {{form.first_name|add_class:"form-control"}}
      </div>
      <div class="mb-1">
        <label for="message-text" class="col-form-label">Фамилия:</label>
         {{form.last_name|add_class:"form-control"}}
      </div>
      <div class="mb-1">
        <label for="message-text" class="col-form-label">Филиал:</label>
        {{form.branch|add_class:"form-control"}}
      </div>
      <div class="mb-1">
        <label for="message-text" class="col-form-label">Роль:</label>
        {{form.role|add_class:"form-control"}}
      </div>
      <div class="mb-1">
        <label for="message-text" class="col-form-label">Логин:</label>
        {{form.username|add_class:"form-control"}}
          {{ form.username.errors }}
      </div>
      <div class="mb-1">
        <label for="message-text" class="col-form-label">Пароль:</label>
        {{form.password|add_class:"form-control"}}
      </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Отменить</button>
  <button type="submit" class="btn btn-primary btn-sm" >Сохранить</button>
</div>
</form>