<form action="{% url 'organization:employee_update' pk=object.id %}" method="post">
  {% csrf_token %}
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Обновить работника</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
  </button>
</div>
<div class="modal-body">
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Имя:</label>
        {{form.first_name}}
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Фамилия:</label>
         {{form.last_name}}
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Филиал:</label>
        {{form.branch}}
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Роль:</label>
        {{form.role}}
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Логин:</label>
        {{form.username}}
        {{ form.username.errors }}
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Старый пароль:</label>
        {{form.old_password}}
        {{ form.old_password.errors }}
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Пароль:</label>
        {{form.password}}
        {{ form.password.errors }}
      </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Отменить</button>
  <button type="submit" class="btn btn-primary btn-sm" >Сохранить</button>
</div>
</form>