<form action="{{url}}" method="post">
  {% csrf_token %}
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Создать новую акцию</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <label for="">Название акций: </label>
    {{form.title}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
  <button type="submit" class="btn btn-primary" >Сохранить</button>
</div>
</form>