{% extends 'base.html' %}
{% load static %}
{% load organization_tags %}
{% block title %}Акция{% endblock %}

{% block content %}
<style>
    .played-color{
    background-color: #4CAF50;
}
</style>

<div class="content-header ">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-3  border-bottom">
      <div class="mb-3 d-flex align-items-center">
          <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
          <h4 class="content-menu-h">Акция</h4>
      </div>
      <form method="get" class="btn-group btn-order-group " action="">
          <input type="text" class="form-control form-control-solid mr-8" id="branch-search-input" placeholder="Поиск по названию..."> 
          <input type="button" class="btn btn-bd-light raffle-prize-form" value="Создать" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-url="{% url 'raffle_prizes:create' %}">
      </form>
  </div>
</div><!-- content-header -->


<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            {% if raffle_prizes %}
                {% for raffle_prize in raffle_prizes %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="card-header p-0 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 mr-8">{{ raffle_prize.title }}  <a href="#" class="raffle-prize-form" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-url="{% url 'raffle_prizes:update' raffle_prize.id %}" style="color:green">&#9998;</a> </h5>
                                    <span class="badge {% if raffle_prize.status == 2 %} bg-warning {% else %} played-color {% endif %} text-dark">{{ raffle_prize.get_status_display }}</span>
                                </div>
                                <div>
                                    <a style="color:red" href="#" class="raffle-prize-form" data-bs-toggle="modal" data-bs-target="#exampleModal" data-url="{% url 'raffle_prizes:delete' raffle_prize.id %}">Удалить</a>
                                </div>
                            </div>
                            <table class="table table-sm my-2">
                                <tbody>
                                    <tr>
                                        <th>Период</th>
                                        <td>
                                            {% if raffle_prize.date_start and raffle_prize.date_end %}  
                                                {{ raffle_prize.date_start }}-{{ raffle_prize.date_end }} 
                                            {% else %}
                                                <b>Период розыгрыша не установлено</b>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Участники</th>
                                        <td>
                                            <b>{{ raffle_prize.customer_count }}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Победители</th>
                                        <td>
                                            {% if not raffle_prize.winner_set.all.exists %}
                                                <a href="{% url 'raffle_prizes:participating_branch_winners' raffle_prize.id %}">Еще на разыграно</a>
                                            {% else %}
                                                <a href="{% url 'raffle_prizes:participating_branch_winners' raffle_prize.id %}">Победителей ({{raffle_prize.winners_count}}/{{raffle_prize.number_winners}})
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Настройка</th>
                                        <td>
                                            <a style="background-color:#8BC34A" href="{% url 'raffle_prizes:settings' raffle_prize.id %}" class="btn btn-secondary btn-sm">Перейти настройку</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <tr>
                  <td colspan="8" style="text-align:center">Акций отсутствуют. <a href="">Создать новую!</a></td>
                </tr>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

{% block domready %}
$(document).on('click', '.raffle-prize-form', function(){
            var url = $(this).data('url')
            $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        'url': url,
                    },
                    success: function(data) {
                        $('#modal-content').html(data)
                    }
                })
        });
{% endblock %}






