<h1>Отправка рассылки на проверку</h1>
Название рассылки: <b>{{newsletter.title}}</b><br>
Сообщений на получателя: <b>{{newsletter.text}}</b><br>
<h2>Подтвердите отправку рассылки на проверку</h2>
<p>Наши модераторы проверят рассылку, чтобы она принесла максимальный результат и не нарушала законы KZ.</p>
<p>После проверки, рассылку можно будет запустить. Обычно проверка занимает не более 5 минут.</p>
<form action="{% url 'newsletter:under_review_confirm' newsletter.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="ОТПРАВИТЬ">
</form>

<a href="{% url 'newsletter:draft_list' %}">ОТМЕНА</a>

