<!doctype html>
<html lang="en">
{% load static %}
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"></head>
<body>
<h2>{{newsletter.title}}</h2>
{% if newsletter.status == 1 %}
    {% if newsletter.text %}
        Рассылка готова к отправке на проверку и последующему запуску
        <div><b>{{newsletter.get_status_display}}</b> <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}">ОТПРАВИТЬ НА ПРОВЕРКУ</a></div>
    {% else %}
        Чтобы отправить рассылку на проверку, необходимо добавить сообщения <br>
        <div><b>{{newsletter.get_status_display}}</b> <a href="{% url 'newsletter:detail_message' newsletter.id %}">Добавить сообщения</a></div>
    {% endif %}
{% elif newsletter.status == 2 %}
    Рассылка проходит проверку
    <div><b>{{newsletter.get_status_display}}</b></div>
{% elif newsletter.status == 3 %}
    {% if newsletter.branches.all %}
    Рассылка готова к запуску
        <div><b>Готова к запуску</b><button type="button" id="start-newsletter-button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
        ЗАПУСТИТЬ
    </button></div>
    {% else %}
        Загрузите для рассылки базу контактов
        <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
    {% endif %}
{% elif newsletter.status == 5 %}
Отправка сообщений
<div><b>Выполняются</b></div>
{% elif newsletter.status == 6 %}
Рассылка выполнена
<div><b>Завершена</b></div>
{% endif %}

<ul>
    <li><a href="{% url 'newsletter:detail_summary' newsletter.id %}">СВОДКА</a></li>
    <li><a href="{% url 'newsletter:detail_message' newsletter.id %}">СООБЩЕНИЯ</a></li>
    <li><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">ПОЛУЧАТЕЛИ</a></li>
</ul>
{% block content %}
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/js.cookie.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/form_set.js' %}"></script>
<script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $(document).ready(function(){
        $(document).on('click', '#start-newsletter-button', function(){
            var newsletter_id = $(this).data('id')
            var url = $(this).data('url')
            $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                    'newsletter_id': newsletter_id
                    },
                    success: function(data) {
                        $('#modal-content').html(data)
                    }
                })
        });
          {% block domready %}
          {% endblock %}
        });
      </script>
</body>
</html>