{% extends 'base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} {{newsletter.title}}{% endblock %}

{% block content %} 
<div class="content-header ">
    <div class="header">
        <div class="d-flex align-items-center mb-2">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
            <h2 class="header-title mb-0">Мои рассылки</h2>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard-default">Рассылки</a></li>
                <li class="breadcrumb-item"><a href="/dashboard-default">{{newsletter.title}}</a></li>
                <li class="breadcrumb-item active" aria-current="page"> СООБЩЕНИЯ</li>
            </ol>
        </nav>
        {% if newsletter.status == 1 %}
            {% if newsletter.text %}
                <p>Рассылка готова к отправке на проверку и последующему запуску</p>
                <div>
                    <div class="item-status">
                        {{newsletter.get_status_display}}
                    </div>
                    <i  data-feather="arrow-right"></i>
                   <div class="mailing-list-btn-gruop mt-1" style="display: unset;">
                       <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}" >ОТПРАВИТЬ НА ПРОВЕРКУ</a>
                   </div>
                </div>
            {% else %}
                <p>Чтобы отправить рассылку на проверку, необходимо добавить сообщения </p>
                <div>
                    <div class="item-status">
                        {{newsletter.get_status_display}}
                    </div>
                    <i  data-feather="arrow-right"></i>
                   <div class="mailing-list-btn-gruop mt-1" style="display: unset;">
                       <a href="{% url 'newsletter:detail_message' newsletter.id %}" >Добавить сообщения</a>
                   </div>
                </div>
            {% endif %}
        {% elif newsletter.status == 2 %}
            <p>Рассылка проходит проверку<p>
            <div class="item-status blue">{{newsletter.get_status_display}}</div>
        {% elif newsletter.status == 3 %}
            {% if newsletter.branches.all %}
            Рассылка готова к запуску
                <div><b>Готова к запуску</b><button type="button" id="start-newsletter-button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
                ЗАПУСТИТЬ
            </button></div>
            {% else %}
                Загрузите для рассылки базу контактов
                <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
            {% endif %}
        {% elif newsletter.status == 5 %}
            <p>Отправка сообщений</p>
            <div class="item-status">Выполняются</div>
            {% elif newsletter.status == 6 %}
            <p>Рассылка выполнена</p>
            <div class="item-status">Завершена</div>
        {% endif %}

    </div>
</div>

<div class="content-body">
    <div class="border-bottom">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{% url 'newsletter:detail_summary' newsletter.id %}">СВОДКА</a></li>
          <li class="list-inline-item">СООБЩЕНИЯ</li>
          <li class="list-inline-item"><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">ПОЛУЧАТЕЛИ</a></li>
        </ul>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div>
                {% if newsletter.text %}
                    <div style="background-color: #dcf8c6; padding:10px;border-radius:5px;" class="message-list">
                        {{newsletter.text}}
                    </div>
                    <div class="mailing-list-btn-gruop mt-1">
                        <a href="{% url 'newsletter:message_create' newsletter.id %}">РЕДАКТИРОВАТЬ СООБЩЕНИЯ</a>
                    </div>
                {% else %}
                    <div style="background-color: #f8f4c6; padding:10px;border-radius:5px;" class="">
                        Сообщения еще не добавлена
                    </div>
                    <hr>
                    <div class="mailing-list-btn-gruop mt-1">
                        <a href="{% url 'newsletter:message_create' newsletter.id %}">Добавить сообщения</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
    $(document).on('click', '#start-newsletter-button', function(){
        var newsletter_id = $(this).data('id')
        var url = $(this).data('url')
        $.ajax({
                url: url,
                type: 'GET',
                data: {
                'newsletter_id': newsletter_id
                },
                success: function(data) {
                    $('#modal-content').html(data)
                }
            })
    });
      {% block domready %}
      {% endblock %}
    });
</script>
{% endblock %}




