{% extends 'base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} {{newsletter.title}}{% endblock %}

{% block content %} 
<style type="text/css">
    input{
        width: auto;
    }
</style>
<div class="content-header ">
    <div class="header">
        <div class="d-flex align-items-center mb-2">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
            <h2 class="header-title mb-0">Мои рассылки</h2>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'newsletter:draft_list' %}">Рассылки</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{newsletter.title}}</li>
                <li class="breadcrumb-item active" aria-current="page">СВОДКА</li>
            </ol>
        </nav>
        {% if newsletter.status == 1 %}
            {% if newsletter.text %}
                <p>Рассылка готова к отправке на проверку и последующему запуску</p>
                <div>
                    <div class="item-status">
                        {{newsletter.get_status_display}}
                    </div>
                    <i  data-feather="arrow-right"></i>
                   <div class="mailing-list-btn-gruop mt-1" style="display: unset;">
                       <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}" >ОТПРАВИТЬ НА ПРОВЕРКУ</a>
                   </div>
                </div>
            {% else %}
                <p>Чтобы отправить рассылку на проверку, необходимо добавить сообщение </p>
                <div>
                    <div class="item-status">
                        {{newsletter.get_status_display}}
                    </div>
                    <i  data-feather="arrow-right"></i>
                   <div class="mailing-list-btn-gruop mt-1" style="display: unset;">
                       <a href="{% url 'newsletter:detail_message' newsletter.id %}" >Добавить сообщение</a>
                   </div>
                </div>
            {% endif %}
        {% elif newsletter.status == 2 %}
            Рассылка проходит проверку
            <div><b>{{newsletter.get_status_display}}</b></div>
        {% elif newsletter.status == 3 %}
            {% if newsletter.branches.all %}
            Рассылка готова к запуску
                <div><b>Готова к запуску</b><button type="button" id="start-newsletter-button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
                ЗАПУСТИТЬ
            </button></div>
            {% else %}
                Загрузите для рассылки базу контактов
                <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
            {% endif %}
        {% elif newsletter.status == 5 %}
            Отправка сообщений
            <div><b>Выполняются</b></div>
            {% elif newsletter.status == 6 %}
            Рассылка выполнена
            <div><b>Завершена</b></div>
        {% endif %}

    </div>
</div>

<div class="content-body">
    <div class="border-bottom">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{% url 'newsletter:detail_summary' newsletter.id %}">СВОДКА</a></li>
          <li class="list-inline-item"><a href="{% url 'newsletter:detail_message' newsletter.id %}">СООБЩЕНИЕ</a></li>
          <li class="list-inline-item">ПОЛУЧАТЕЛИ</li>
        </ul>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h6 style="margin-bottom:0px;" class="text-uppercase">Участвующие филиалы</h6>
                <div class="mailing-list-btn-gruop mt-1">
                    <a type="button" class="company-branch-list-form" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-url="{% url 'newsletter:branch_newsletter_list' newsletter.id %}">
                        Добавить / Удалить
                    </a>
                </div>
            </div>
            <div>
                {% for participating_branch in newsletter.branches.all %}
                    <div style="color:red;font-size: 15px"> - {{participating_branch.branch.title}}</div>
                {% endfor %}

                <form action="{{ request.path }}" method="POST" class="mt-2" id="form-universal-modal" >
                    {% csrf_token %}
                    <div class="mb-1">
                        {{newsletter_form.active_last_month}}
                        <label class="form-check-label">Активный последний месяц</label>
                    </div>
                    <div class="mb-1">
                        {{newsletter_form.active_last_week}}
                        <label class="form-check-label">Активная последняя неделя</label>
                    </div>
                    <div class="mb-1">
                        {{newsletter_form.active_last_day}}
                        <label class="form-check-label">Активный последний день</label>
                    </div>
                    <input type="hidden" name="text" value="{{newsletter.text}}">
                    <input class="btn btn-primary mt-2" type="submit" value="СОХРАНИТЬ">
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content">
      
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/js.cookie.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/form_set.js' %}"></script>
<script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $(document).ready(function(){
        $(document).on('click', '#start-newsletter-button', function(){
            var newsletter_id = $(this).data('id')
            var url = $(this).data('url')
            $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                    'newsletter_id': newsletter_id
                    },
                    success: function(data) {
                        $('#modal-content').html(data)
                    }
                })
        });

        $(document).on('click', '.company-branch-list-form', function(){
    var url = $(this).data('url')
    $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                $('#modal-content').html(data)
            }
        })
});

$(document).on('input', '#branch-search-input', function(){
    const searchValue = $(this).val().toLowerCase();
    const branches = $('.branch-item');

    branches.each(function () {
        const branchTitle = $(this).data('title');

        if (branchTitle.indexOf(searchValue) > -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
});
          {% block domready %}
          {% endblock %}
        });
      </script>
{% endblock %}

