{% extends 'base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} {{newsletter.title}}{% endblock %}

{% block content %} 

<div class="content-header ">
    <div class="header">
        <div class="d-flex align-items-center mb-2">
            <a id="mobileMenu" href="submenu.html#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
            <h2 class="header-title mb-0">Мои рассылки</h2>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard-default">Рассылки</a></li>
                <li class="breadcrumb-item"><a href="/dashboard-default">{{newsletter.title}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">СВОДКА</li>
            </ol>
        </nav>
        {% if newsletter.status == 1 %}
        {% if newsletter.text %}
            <p>Рассылка готова к отправке на проверку и последующему запуску</p>
            <div>
                <div class="item-status">
                    {{newsletter.get_status_display}}
                </div>
                <i  data-feather="arrow-right"></i>
               <div class="mailing-list-btn-gruop mt-1" style="display: unset;">
                   <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}" >ОТПРАВИТЬ НА ПРОВЕРКУ</a>
               </div>
            </div>
        {% else %}
            <p>Чтобы отправить рассылку на проверку, необходимо добавить сообщения </p>
            <div>
                <div class="item-status">
                    {{newsletter.get_status_display}}
                </div>
                <i  data-feather="arrow-right"></i>
               <div class="mailing-list-btn-gruop mt-1" style="display: unset;">
                   <a href="{% url 'newsletter:detail_message' newsletter.id %}" >Добавить сообщения</a>
               </div>
            </div>
        {% endif %}
        {% elif newsletter.status == 2 %}
            <p>Рассылка проходит проверку</p>
            <div class="item-status blue">{{newsletter.get_status_display}}</div>
        {% elif newsletter.status == 3 %}
            {% if newsletter.branches.all %}
            <p>Рассылка готова к запуску</p>
                <div>
                    <div style="display:inline-block;"><b>Готова к запуску</b></div>
                    <i  data-feather="arrow-right"></i>
                    <button type="button" id="start-newsletter-button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
                        ЗАПУСТИТЬ
                    </button>
                </div>
            {% else %}
                Загрузите для рассылки базу контактов
                <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
            {% endif %}
        {% elif newsletter.status == 5 %}
        <p>Отправка сообщений</p>
        <div class="item-status">Выполняются</div>
        {% elif newsletter.status == 6 %}
        <p>Рассылка выполнена</p>
        <div class="item-status">Завершена</div>
        {% endif %}
    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="border-bottom">
        <ul class="list-inline">
          <li class="list-inline-item">СВОДКА</li>
          <li class="list-inline-item"><a href="{% url 'newsletter:detail_message' newsletter.id %}">СООБЩЕНИЯ</a></li>
          <li class="list-inline-item"><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">ПОЛУЧАТЕЛИ</a></li>
        </ul>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="mailing-list">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6>СТАТУС РАССЫЛКИ</h6>
                            <i data-feather="edit"></i>
                        </div>

                        {% if newsletter.status == 1 %}
                        <b>ЧЕРНОВИК </b>
                        {% if newsletter.text %}
                            <p class="mt-2 mb-2">Рассылка готова к отправке на проверку и последующему запуску</p>
                            <div class="mailing-list-btn-gruop mt-1">
                                <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}">ОТПРАВИТЬ НА ПРОВЕРКУ</a>
                            </div>
                        {% else %}
                            <p class="mt-2 mb-2">Чтобы отправить рассылку на проверку, необходимо добавить сообщения </p>
                            <div class="mailing-list-btn-gruop mt-1">
                                <a href="{% url 'newsletter:detail_message' newsletter.id %}">Добавить сообщения</a>
                            </div>
                        {% endif %}
                        {% elif newsletter.status == 2 %}
                            <b>НА ПРОВЕРКЕ</b>
                            <p class="mt-2 mb-2">Рассылка проходит проверку</p>
                            <a href="{% url 'newsletter:under_review_cancel_confirm' newsletter.id %}">ОТМЕНИТЬ ПРОВЕРКУ</a>
                        {% elif newsletter.status == 3 %}
                        {% if newsletter.branches.all %}
                        Рассылка готова к запуску
                            <div>
                                <b>Готова к запуску</b>
                                <button type="button" id="start-newsletter-button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
                            ЗАПУСТИТЬ
                        </button></div>
                        {% else %}
                            <p class="mt-2 mb-2">Загрузите для рассылки базу контактов</p>
                            <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
                        {% endif %}
                        {% elif newsletter.status == 5 %}
                            <p class="mt-2 mb-2">Отправка сообщений</p>
                            <div><b>Выполняются</b></div>
                        {% elif newsletter.status == 6 %}
                            <p class="mt-2 mb-2">Рассылка выполнена</p>
                            <div><b>Завершена</b></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="mailing-list">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6>СООБЩЕНИЯ РАССЫЛКИ</h6>
                            <i data-feather="message-circle"></i>
                        </div>
                        {% if newsletter.text %}
                        <div style="background-color: #dcf8c6; padding:10px;border-radius:5px;">
                            {{newsletter.text}}
                        </div>
                        {% endif %}

                        {% if newsletter.image %}
                        Фото: <br>
                        {{ newsletter.image.url|filename }}
                        {% endif %}

                        {% if newsletter.text or newsletter.image %}
                        <div class="mailing-list-btn-gruop mt-1">
                            <a href="{% url 'newsletter:message_create' newsletter.id %}">РЕДАКТИРОВАТЬ СООБЩЕНИЯ</a>
                        </div>
                        {% endif %}

                        {% if not newsletter.text and not newsletter.image %}
                        <p>Добавьте сообщения, которые будут отправлены по базе получателей</p>
                        <div class="mailing-list-btn-gruop mt-1">
                            <a href="{% url 'newsletter:message_create' newsletter.id %}">ДОБАВИТЬ СООБЩЕНИЯ</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="mailing-list">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6>БАЗА ПОЛУЧАТЕЛЕЙ</h6>
                            <i data-feather="message-circle"></i>
                        </div>
                        {% get_customers_count newsletter.id as customers_number %}
                        {% if not customers_number == 'Еще не добавлена! (0)' %}
                            Количество получателей рассылки: {{ customers_number }}<br>
                            ФИЛЬТР <br>
                            {% if newsletter.active_last_month == True %}
                                Активно последний месяц &#10003;
                            {% else %}
                                Активно последний месяц &#127;
                            {% endif %} <br>

                            {% if newsletter.active_last_week == True %}
                                Активно последняя неделя &#10003;
                            {% else %}
                                Активно последняя неделя &#127;
                            {% endif %}<br>

                            {% if newsletter.active_last_day == True %}
                                Активно последний день &#10003;
                            {% else %}
                                Активно последний день &#127;
                            {% endif %}<br>
                            <div class="mailing-list-btn-gruop mt-1">
                                <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">РЕДАКТИРОВАТЬ </a>
                            </div>
                        {% else %}
                            <b>не добавлены</b>
                            <p>Загрузите базу номеров получателей рассылки по которым будет отправлена рассылка</p>
                            <div class="mailing-list-btn-gruop mt-1">
                                <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">Загрузить</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!-- 
<h2>{{newsletter.title}}</h2>
{% if newsletter.status == 1 %}
    {% if newsletter.text %}
        Рассылка готова к отправке на проверку и последующему запуску
        <div><b>{{newsletter.get_status_display}}</b> <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}">ОТПРАВИТЬ НА ПРОВЕРКУ</a></div>
    {% else %}
        Чтобы отправить рассылку на проверку, необходимо добавить сообщения <br>
        <div><b>{{newsletter.get_status_display}}</b> <a href="{% url 'newsletter:detail_message' newsletter.id %}">Добавить сообщения</a></div>
    {% endif %}
{% elif newsletter.status == 2 %}
    Рассылка проходит проверку
    <div><b>{{newsletter.get_status_display}}</b></div>
{% elif newsletter.status == 3 %}
    {% if newsletter.branches.all %}
    Рассылка готова к запуску
        <div><b>Готова к запуску</b><button type="button" id="start-newsletter-button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
        ЗАПУСТИТЬ
    </button></div>
    {% else %}
        Загрузите для рассылки базу контактов
        <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
    {% endif %}
{% elif newsletter.status == 5 %}
Отправка сообщений
<div><b>Выполняются</b></div>
{% elif newsletter.status == 6 %}
Рассылка выполнена
<div><b>Завершена</b></div>
{% endif %} -->
<!-- 
<ul>
    <li><a href="{% url 'newsletter:detail_summary' newsletter.id %}">СВОДКА</a></li>
    <li><a href="{% url 'newsletter:detail_message' newsletter.id %}">СООБЩЕНИЯ</a></li>
    <li><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">ПОЛУЧАТЕЛИ</a></li>
</ul>
<div>
    СТАТУС РАССЫЛКИ


    {% if newsletter.status == 1 %}
        <b>ЧЕРНОВИК </b>
        {% if newsletter.text %}
            Рассылка готова к отправке на проверку и последующему запуску
            <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}">ОТПРАВИТЬ НА ПРОВЕРКУ</a>
        {% else %}
            Чтобы отправить рассылку на проверку, необходимо добавить сообщения <br>
            <a href="{% url 'newsletter:detail_message' newsletter.id %}">Добавить сообщения</a>
        {% endif %}
    {% elif newsletter.status == 2 %}
        <b>НА ПРОВЕРКЕ</b>
        Рассылка проходит проверку
        <a href="{% url 'newsletter:under_review_cancel_confirm' newsletter.id %}">ОТМЕНИТЬ ПРОВЕРКУ</a>
    {% elif newsletter.status == 3 %}
    {% if newsletter.branches.all %}
    Рассылка готова к запуску
        <div><b>Готова к запуску</b><button type="button" id="start-newsletter-button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
        ЗАПУСТИТЬ
    </button></div>
    {% else %}
        Загрузите для рассылки базу контактов
        <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
    {% endif %}
    {% elif newsletter.status == 5 %}
        Отправка сообщений
        <div><b>Выполняются</b></div>
    {% elif newsletter.status == 6 %}
        Рассылка выполнена
        <div><b>Завершена</b></div>
    {% endif %}

</div><br><br>

<div>
    СООБЩЕНИЯ РАССЫЛКИ
    {% if newsletter.text %}
    <div style="background-color: #dcf8c6; padding:10px;border-radius:5px; width: 30%">
        {{newsletter.text}}
    </div>
    {% endif %}

    {% if newsletter.image %}
    <br>Фото: <br>
    {{ newsletter.image.url|filename }}
    {% endif %}

    {% if newsletter.text or newsletter.image %}
    <a href="{% url 'newsletter:message_create' newsletter.id %}">РЕДАКТИРОВАТЬ СООБЩЕНИЯ</a>
    {% endif %}

    {% if not newsletter.text and not newsletter.image %}
    <p>Добавьте сообщения, которые будут отправлены по базе получателей</p>
    <a href="{% url 'newsletter:message_create' newsletter.id %}">ДОБАВИТЬ СООБЩЕНИЯ</a>
    {% endif %}
</div><br><br>

<div>
    БАЗА ПОЛУЧАТЕЛЕЙ <br>

    {% if not customers_number == 'Еще не добавлена! (0)' %}
        {{ customers_number }}<br>
        ФИЛЬТР <br>
        {% if newsletter.active_last_month == True %}
            Активно последний месяц &#10003;
        {% else %}
            Активно последний месяц	&#127;
        {% endif %} <br>

        {% if newsletter.active_last_week == True %}
            Активно последняя неделя &#10003;
        {% else %}
            Активно последняя неделя &#127;
        {% endif %}<br>

        {% if newsletter.active_last_day == True %}
            Активно последний день &#10003;
        {% else %}
            Активно последний день &#127;
        {% endif %}<br>
    <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">РЕДАКТИРОВАТЬ </a>
    {% else %}
    <h3>не добавлены</h3>
    <p>Загрузите базу номеров получателей рассылки по которым будет отправлена рассылка</p>
    <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">Загрузить</a>
    {% endif %}

</div> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">

    </div>
  </div>
</div>

<script type="text/javascript">
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
    $(document).on('click', '#start-newsletter-button', function(){
        var newsletter_id = $(this).data('id')
        var url = $(this).data('url')
        $.ajax({
                url: url,
                type: 'GET',
                data: {
                'newsletter_id': newsletter_id
                },
                success: function(data) {
                    $('#modal-content').html(data)
                }
            })
    });
      {% block domready %}
      {% endblock %}
    });
  </script>
{% endblock %}







