{% extends 'newsletter/detail/base.html' %}
{% load static %}
{% load newsletter_tags %}
{% block title %} Сводка {% endblock %}

{% block content %}
<div>
    СТАТУС РАССЫЛКИ


    {% if newsletter.status == 1 %}
        <b>НА ПРОВЕРКЕ</b>
        {% if newsletter.text %}
            Рассылка готова к отправке на проверку и последующему запуску
            <a href="{% url 'newsletter:under_review_confirm' newsletter.id %}">ОТПРАВИТЬ НА ПРОВЕРКУ</a>
        {% else %}
            Чтобы отправить рассылку на проверку, необходимо добавить сообщения <br>
            <a href="{% url 'newsletter:detail_message' newsletter.id %}">Добавить сообщения</a>
        {% endif %}
    {% elif newsletter.status == 2 %}
        <b>НА ПРОВЕРКЕ</b>
        Рассылка проходит проверку
        <a href="{% url 'newsletter:under_review_cancel_confirm' newsletter.id %}">ОТМЕНИТЬ ПРОВЕРКУ</a>
    {% elif newsletter.status == 3 %}
    {% if newsletter.branches.all %}
    Рассылка готова к запуску
        <div><b>Готова к запуску</b><button type="button" id="start-newsletter-button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal" data-id="{{newsletter.id}}" data-url="{% url 'newsletter:start_newsletter' %}">
        ЗАПУСТИТЬ
    </button></div>
    {% else %}
        Загрузите для рассылки базу контактов
        <div><b>Готова к запуску</b><a href="{% url 'newsletter:recipient_create_update' newsletter.id %}"> Загрузить базу</a></div>
    {% endif %}
    {% elif newsletter.status == 5 %}
        Отправка сообщений
        <div><b>Выполняются</b></div>
    {% elif newsletter.status == 6 %}
        Рассылка выполнена
        <div><b>Завершена</b></div>
    {% endif %}

</div><br><br>

<div>
    СООБЩЕНИЯ РАССЫЛКИ
    {% if not newsletter.text %}
    <p>Добавьте сообщения, которые будут отправлены по базе получателей</p>
    <a href="{% url 'newsletter:message_create' newsletter.id %}">ДОБАВИТЬ СООБЩЕНИЯ</a>
    {% else %}
    <div style="background-color: #dcf8c6; padding:10px;border-radius:5px; width: 30%">
        {{newsletter.text}}
    </div>
    <a href="{% url 'newsletter:message_create' newsletter.id %}">РЕДАКТИРОВАТЬ СООБЩЕНИЯ</a>
    {% endif %}
</div><br><br>

<div>
    БАЗА ПОЛУЧАТЕЛЕЙ <br>
    {% get_count_customers_number newsletter.id as customers_number %}
    {% if not customers_number == 'Еще не добавлена! (0)' %}
        {{ customers_number }}<br>
        ФИЛЬТР <br>
        {% if newsletter.active_last_month == True %}
            Активно последний месяц &#10003;
        {% else %}
            Активно последний месяц	&#127;
        {% endif %} <br>

        {% if newsletter.active_last_week == True %}
            Активно последняя неделя &#10003;
        {% else %}
            Активно последняя неделя &#127;
        {% endif %}<br>

        {% if newsletter.active_last_day == True %}
            Активно последний день &#10003;
        {% else %}
            Активно последний день &#127;
        {% endif %}<br>
    <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">РЕДАКТИРОВАТЬ </a>
    {% else %}
    <h3>не добавлены</h3>
    <p>Загрузите базу номеров получателей рассылки по которым будет отправлена рассылка</p>
    <a href="{% url 'newsletter:recipient_create_update' newsletter.id %}">Загрузить</a>
    {% endif %}

</div>
{% endblock %}

{% block domready %}
{% endblock %}






