{% extends 'customer_request/base.html' %}
{% load request_tags %}
{% load static %}
{% block title %} Zhiza {% endblock %}

{% block content %}
<div class="navbar navbar-home d-lg-none">
    <div class="left d-flex align-items-center">
      <a id="mobileMenu" href="#" class="content-menu"><i data-feather="menu"></i></a>
      <h4 class="content-menu-h">Карточки</h4>
    </div>
    <div class="right">
       <a href="submenu.html" class="avatar online"><span class="avatar-initial">Е</span></a>
    </div>
</div>
<div class="content-header header-mobile">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-3  border-bottom">
        <div>
            <h4 class="content-menu-h"> Карточки</h4>
        </div>

    </div>
</div>
<div class="content-body mobile-content">

    <input type="search" id="search-input" class="form-control" placeholder="Поиск">
    <div id="customer-request-list-content">
        <div id="card-list" class="row mt-3 mb-3">
            {% for card in cards %}
                <div class="col-md-3 col-sm-6 mb-3 col-sx-6">

                    <div class="card">
                        <button class="{% get_actual_card_color card branch %} sent-request-button" data-id="{{card}}" >
                            {{card}}
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <input type="hidden" id="branch-id" value="{{branch}}">

</div>
{% endblock %}

{% block domready %}
var branch_id = document.getElementById('branch-id').value;
const url = 'wss://' + window.location.host + '/ws/whatsapp/' + branch_id + '/branch/'
const whatsappSocket = new WebSocket(url)

whatsappSocket.onmessage = function(event) {
  const data = JSON.parse(event.data);
  var card_number = data.card_number;
  var card = document.querySelector('#card-list [data-id="' + card_number + '"]');
  card.style.background = "#1bc068";
}

whatsappSocket.onclose = function(event) {
    console.error('Whatsapp socket closed unexpectedly')
}


$(document).on('click', '.sent-request-button', function(){
    var card_number = $(this).data('id');
    $.ajax({
      url: '{% url 'customer_request:send_message' %}',
      type: 'POST',
      data: {
        'card_number': card_number,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(data) {
        var card = document.querySelector('#card-list [data-id="' + card_number + '"]');
        card.style.background = "darkgrey";
      }
    });
});

$(document).on('input', '#search-input', function(){
    const searchValue = $(this).val().toLowerCase();
    const cards = $('#card-list button');
    cards.each(function () {
        const cardId = $(this).data('id').toString().toLowerCase();
        if (cardId.indexOf(searchValue) > -1) {
            $(this).parent().parent().show();
        } else {
            $(this).parent().parent().hide();
        }
    });
});

{% endblock %}